/*--- Animatie 1 ----*/

#ball1
{
	background-color: red;
	transition: -webkit-transform 1s;
}

#ball2
{
	background-color: green;
	transition: -webkit-transform 1s;
}

#ball3
{

	background-color: blue;
	transition: -webkit-transform 1s;
}

.circle
{
	position: absolute;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}


.ball1Move
{
	-webkit-transform: translateY(100px);
}

.ball2Move
{
	-webkit-transform: translateX(100px) translateY(100px);
}

.ball3Move
{
	-webkit-transform: translateX(100px);
}


/*--- Animatie 2 ----*/

#loginShape
{
	width: 500px;
	height: 100px;
	border-radius: 20px;
	background-color: white;
	margin: 5% 30%;

	overflow: hidden;
}

ul.textList
{
	list-style-type: none;
	position: absolute;
	margin: 6% 15%;
	left: -326px;
	font:15px arial,sans-serif;
	transition: -webkit-transform 0.5s;
}


#imd
{
	position: absolute;
	padding-left: 20px;
	padding-top: 15px;
	left: -326px;
	transition: -webkit-transform 0.5s;
}

.moveRight
{	
	-webkit-transform: translateX(326px);
}

#loginUsers
{
	margin: 5% 29.6%;
}

.user
{
	height: 200px;
	border-radius: 20px;
	padding-left: 10px;
	transition: -webkit-transform 0.2s;
}


.flipLoginUsers
{
 -webkit-transform-origin: left bottom;
 -webkit-animation: flipLoginUsers 1s;
 -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes flipLoginUsers
{
 0% { -webkit-transform: perspective(600px) rotateY( 90deg ); opacity: 0; }
 40% { -webkit-transform: perspective(600px) rotateY( -10deg ); }
 70% { -webkit-transform: perspective(600px) rotateY( 10deg ); }
 100% { -webkit-transform: perspective(600px) rotateY( 0deg ); opacity: 1; }
}

.user:hover
{
 -webkit-transform: scale(1.1);
 cursor: pointer;
}


.flipLoginShape
{
	 -webkit-transform-origin: center center;
	 -webkit-animation: flipLoginShape 1s;
 	 -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes flipLoginShape
{
 0% { -webkit-transform: perspective(600px) rotateX( 90deg ); opacity: 0; }
 40% { -webkit-transform: perspective(600px) rotateX( -20deg ); }
 70% { -webkit-transform: perspective(600px) rotateX( 20deg ); }
 100% { -webkit-transform: perspective(600px) rotateX( 0deg ); opacity: 1; }
}




